[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
setuptools="==75.1.0"
wheel="==0.44.0"
torch = {version = "==2.4.1", index = "https://download.pytorch.org/whl/cu118"}
torchvision = "==0.19.1"
torchaudio = "==2.4.1"
biotite = "==0.41.2"
esm = {url = "https://github.com/imranq2/esm/archive/refs/tags/3.0.4.tar.gz"}

[dev-packages]

[requires]
python_version = "3.12"
